<!-- home.html -->
    <div class="jumbotron text-center">
        <h2>TOTAL KEUANGAN</h2>

        <p>{{ message }}</p>
        <hr>
        <h4>Total Keuangan Anda Saat ini:</h4>
        <h5>{{total.currency}}. {{total.totalUang}}</h5>
    </div>

