<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="title-panel">{{message}}</div>
		</div>
		<div class="panel-body">
			<form action="" name="myForm">
				<input type="text" name="myName" ng-model="myName" required>
				<span ng-show="myForm.myName.$pristine && myForm.myName.$invalid" style="color:red;">Nama Tidak Boleh Kosong.</span>
			</form>
		</div>
	</div>
</div>