<!-- pemasukan.html -->
<div class="jumbotron text-center">
    <h2>PEMASUKAN ANDA</h2>

    <p>{{ message }}</p>
    <hr>
    <h4>Pemasukan Anda Saat ini:</h4>
    <h5>{{pemasukan.currency}}. {{pemasukan.totalpemasukan}}</h5>
</div>
<table id="example" class="table table-striped">
    <tr>
        <th>No</th>
        <th>Nama pemasukan</th>
        <th>Deskripsi</th>
        <th>Nilai pemasukan</th>
        <th>Tanggal Masuk</th>
    </tr>
    <tr ng-repeat="row in list">
        <td>{{$index + 1}}</td>
        <td>{{row.name}}</td>
        <td>{{row.description}}</td>
        <td>Rp. {{row.nominal}}</td>
        <td>{{row.created}}</td>
    </tr>
</table>



