<!-- login.html -->

<div class="jumbotron text-center">
    <h1>DAFTAR</h1>

    <form class="form-horizontal" action="/action_page.php" name="myForm">
        <div class="form-group" ng-class="{ 'has-error': myForm.nama.$touched && myForm.nama.$error.required }">
            <label class="control-label col-sm-2" for="email">Nama Lengkap:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="nama" ng-model="nama" placeholder="Masukan Nama Lengkap" required title="Nama Tidak Boleh Kosong">
              <span ng-show="myForm.nama.$touched && myForm.nama.$error.required" style="color:red;float:left;">Nama Tidak Boleh Kosong.</span>
            </div>
          </div>
        <div class="form-group" ng-class="{ 'has-error': myForm.username.$touched && myForm.username.$error.required }">
            <label class="control-label col-sm-2" for="email">Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" ng-model="username" placeholder="Masukan Username" required title="Username Tidak Boleh Kosong">
              <span ng-show="myForm.username.$touched && myForm.username.$error.required" style="color:red;float:left;">Username Tidak Boleh Kosong.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': myForm.email.$touched && myForm.email.$error.required }">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" ng-model="email" placeholder="Masukan email" required title="Email Tidak Boleh Kosong">
            <span ng-show="myForm.email.$touched && myForm.email.$error.required" class="help-block" style="color:red;float:left;">Email Tidak Boleh Kosong.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': myForm.pwd.$touched && myForm.pwd.$error.required }">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-10"> 
            <input type="password" class="form-control" name="pwd" ng-model="pwd" placeholder="Masukan password" required title="Password Tidak Boleh Kosong">
            <span ng-show="myForm.pwd.$touched && myForm.pwd.$error.required" class="help-block" style="color:red;float:left;">Password Tidak Boleh Kosong.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': myForm.agree.$touched && myForm.agree.$error.required }"> 
          <div class="col-sm-offset-1 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="agree" ng-model="agree"> Setuju ?</label>
              <span ng-show="myForm.agree.$dirty && myForm.agree.$error.required" class="help-block" style="color:red;float:left;">Ceklis Jika Setuju.</span>
            </div>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" ng-disabled="myForm.$invalid || vm.dataLoading" class="btn btn-success">Daftar</button>
          </div>
        </div>
      </form>
</div>

