<!-- home.html -->
    <div class="jumbotron text-center">
        <h1>Student Page</h1>

        <p>{{ message }}</p>

        <table>
        	<tr ng-repeat="user in users">
        		<td>{{ user.id }}</td>
        	</tr>
        </table>
    </div>

