<!-- tabungan.html -->
<div class="jumbotron text-center">
    <h2>TABUNGANKU</h2>

    <p>{{ message }}</p>
    <hr>
    <h4>Tabungan Anda Saat ini:</h4>
    <h5>{{tabungan.currency}}. {{tabungan.totalTabungan}}</h5>
</div>
<table id="example" class="table table-striped">
    <tr>
        <th>No</th>
        <th>Nama Tabungan</th>
        <th>Deskripsi</th>
        <th>Nilai Tabungan</th>
        <th>Tanggal Nabung</th>
    </tr>
    <tr ng-repeat="row in list">
        <td>{{$index + 1}}</td>
        <td>{{row.name}}</td>
        <td>{{row.description}}</td>
        <td>Rp. {{row.nominal}}</td>
        <td>{{row.created}}</td>
    </tr>
</table>


